body{
  box-sizing: border-box;
  all: unset;
}
.App{
  width: 100%;
  display: flex;
  gap: 5px;
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(168, 85, 85);
  padding: 2%;
 
}
.form{
  position: relative;
  display: flex;
  height:70vh;
  gap: 2%;
  flex-direction: column;
  width: 40%;
}


input,button{
  border: none;
  padding: 2%;
  border-radius: 1%;
}
h5{
  font-size: medium;
  justify-self: center;
  margin: 0;

}
.imageselect{
  width: 50%;
 display: grid;
 grid-template-columns: repeat(5,100px);
 grid-auto-rows: minmax(10px,auto); 
}
.gallery{

}


